---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$base-font-family: "Noto Sans KR", "Malgun Gothic", Arial;
$base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
$small-font-size:  $base-font-size * 1.0;
$base-line-height: 1.8;

$code-font-family: 'IBM Plex Mono', Arial, "Malgun Gothic";
$code-font-size: 14px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$color-link: #036;
$color-link-hover: #069;

$header-bg: #607D8B;
$header-bg-hover: #78909C;
$header-link: #CFD8DC;
$header-fg: #FFF;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "animate",
        "layout",
        "syntax-highlighting",
        "easybook"
;
