---
layout: default
title: Archives
permalink: /archive/
icon: archive
type: page
---


<div class="home">
  <h1 class="page-heading">Archives</h1>

  <ul class="post-list" style="padding: 0px 40px 20px 40px;">
          {% for post in site.posts %}

            {% unless post.next %}
              <h2 id="y{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
            {% else %}
              {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
              {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
              {% if year != nyear %}
                <h2 id="y{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
              {% endif %}
            {% endunless %}

            <li style="padding-bottom: 0px; border-bottom: 0px solid #CCC; margin-bottom: 0px;">
                <time>
                { post.date | date:"%Y-%m-%d" }}.
                </time>
                <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>

          {% endfor %}
        </ul>
  </ul>
  
</div>
