---
layout: default
---

<div class="home">
  <!-- <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a> -->
  <h1 class="page-heading"><span style="font-weight: bold;color:#607D8B;">☰</span><span style="color:#607D8B;">Dev</span><span style="font-weight:">I</span>nsights<span style="font-size:14px;font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;C# ∙ Rust ∙ Zig ∙ C++ ∙ Go</span></h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <!-- <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div> -->
        <div class="post-meta">{{ post.date | date: "%F" }} • MSJO</div>        

        <!-- <div class="post-excerpt"> -->
        <div class="post-content">
          {%   if post.content contains site.excerpt_separator or post.content != post.excerpt %}{{ post.excerpt }}
          {%   else %}{{ post.content | lstrip | split: "
" | first }}{% endif %}
          <p>
            <a class="post-link" style="font-size:13px;" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  <a href="{{ '/' | relative_url }}" style="text-decoration: none; font-weight: normal;">HOME</a>

  &nbsp;&nbsp;&nbsp;&nbsp;
  
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}

  &nbsp;&nbsp;&nbsp;&nbsp;
  
  {% if paginator.page < paginator.total_pages %}
    {% assign last_url = site.paginate_path | replace: ':num', paginator.total_pages | relative_url %}
    <a href="{{ last_url }}" style="text-decoration: none; font-weight: normal;">LAST</a>
  {% else %}
    <span style="color: #ccc;">LAST</span>
  {% endif %}
</div>

</div>
