<div class="col-box col-box-author">
  <a href="/about/"><img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}"></a>
  <!-- <div class="col-box-title name">{{ site.author }}</div> -->
  <p>{{ site.profile }}</p>
  <p class="contact">
    <!--
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
    -->
    <img src="https://raw.githubusercontent.com/DebugJO/rustlang/refs/heads/main/image/CS.png" width="40" height="40">&nbsp;&nbsp;
    <img src="https://raw.githubusercontent.com/DebugJO/rustlang/refs/heads/main/image/Rust.png" width="40" height="40">&nbsp;&nbsp;
    <img src="https://raw.githubusercontent.com/DebugJO/rustlang/refs/heads/main/image/Zig.png" width="40" height="40">&nbsp;&nbsp;
    <img src="https://raw.githubusercontent.com/DebugJO/rustlang/refs/heads/main/image/CPP.png" width="40" height="40">&nbsp;&nbsp;
    <img src="https://raw.githubusercontent.com/DebugJO/rustlang/refs/heads/main/image/Go.png" width="40" height="40">
    <!-- <a href="https://msjo.kr">MSJO.kr</a> -->    
  </p>
</div>

<!-- googleoff: index -->
<div class="col-box" data-nosnippet>
  <!-- <div class="col-box-title">Newest Posts <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a></div> -->
  <div class="col-box-title">Newest Posts <a class="rss-link" href="/gsearch/">&nbsp;&nbsp;Search&nbsp;&nbsp;</span></a></div>  
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box" data-nosnippet>
  <!-- <div class="col-box-title">Category <span style="color:lightsteelblue;">({{ site.posts | size }})</span> <a class="rss-link" style="color: #AAA; border: 1px solid #CCC; padding: 1px 4px;" href="https://rustlang.kr/feed.xml">RSS Feed</a></div> --> 
  <div class="col-box-title">Category <span style="color:lightsteelblue;">({{ site.posts | size }})</span> <a class="rss-link" href="/feed.xml">RSS Feed</a></div>  
  <ul class="post-list">
    {% for category in site.categories %}
      <li><a class="post-link" href="{{ root_url }}/category/#{{ category | first }}" cate="{{ category | first }}">{{ category | first }}</a> <span style="color:lightsteelblue;">({{ category | last | size }})</span></li>
    {% endfor %}
  </ul>
</div>
<!-- googleon: index -->

{% if page.layout == "post" %}
<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>
{% endif %}

<div class="col-box" data-nosnippet>
<center>
  <a style="font-size:12px;color:#6a6a6a;" href="https://devsight.kr/about/">Contact: <b>msjo@devsight.kr</b></a>&nbsp;&nbsp;
  <a style="font-size:12px;color:#6a6a6a;" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">ⒸBY-NC-ND</a>
</center>
</div>  
