<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <!-- <div class="col-box-title name">{{ site.author }}</div> -->
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
    <a href="https://msjo.kr">MSJO.kr</a>    
  </p>
</div>

<div class="col-box">
  <!-- <div class="col-box-title">Newest Posts <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a></div> -->
  <div class="col-box-title">Newest Posts <a class="rss-link" href="https://rustlang.kr/search.html">Search</a></div>  
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box">
  <div class="col-box-title">Category <a class="rss-link" style="color: #AAA; border: 1px solid #CCC; padding: 1px 4px;" href="https://rustlang.kr/feed.xml">RSS Feed</a></div>  
  <ul class="post-list">
    {% for category in site.categories %}
      <li><a class="post-link" href="{{ root_url }}/category/#{{ category | first }}" cate="{{ category | first }}">{{ category | first }}</a> <span style="color:lightsteelblue;">({{ category | last | size }})</span></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>
