<aside data-nosnippet>
<div class="col-box col-box-author" style="padding-bottom:12px !important;">
  <a href="/about/"><img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}"></a>
  <!-- <div class="col-box-title name">{{ site.author }}</div> -->
  <p>{{ site.profile }}</p>
  <p class="contact">
    <!--
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
    -->
    <a style="color:#666666 !important; display: inline-flex; align-items: center !important; background-color: transparent !important; text-decoration: none !important; padding: 0 !important; line-height: 0 !important;">
      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-cpu color-fg-muted mr-1 tmp-mr-1">
            <path d="M6.5.75V2h3V.75a.75.75 0 0 1 1.5 0V2h1.25c.966 0 1.75.784 1.75 1.75V5h1.25a.75.75 0 0 1 0 1.5H14v3h1.25a.75.75 0 0 1 0 1.5H14v1.25A1.75 1.75 0 0 1 12.25 14H11v1.25a.75.75 0 0 1-1.5 0V14h-3v1.25a.75.75 0 0 1-1.5 0V14H3.75A1.75 1.75 0 0 1 2 12.25V11H.75a.75.75 0 0 1 0-1.5H2v-3H.75a.75.75 0 0 1 0-1.5H2V3.75C2 2.784 2.784 2 3.75 2H5V.75a.75.75 0 0 1 1.5 0Zm5.75 11.75a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25h-8.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25ZM5.75 5h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75v-4.5A.75.75 0 0 1 5.75 5Zm.75 4.5h3v-3h-3Z"></path>
      </svg>
      &nbsp;Developer Program Member
    </a>
</br>    
    <a href="https://github.com/debugjo" style="background-color: transparent !important; text-decoration: none !important; border: none !important; display: inline-block; padding: 0 !important; line-height: 0 !important;">
      <img src="https://img.shields.io/badge/Github-DebugJO-blue" alt="Static Badge" style="border: none !important; display: block; height:22px;">
    </a>
    <a href="mailto:msjo@devsight.kr" style="background-color: transparent !important; text-decoration: none !important; border: none !important; display: inline-block; padding: 0 !important; line-height: 0 !important;">
      <img src="https://img.shields.io/badge/Email-msjo@devsight.kr-1199A6" alt="Email" style="border: none !important; display: block; height:22px;">
    </a>
  </p>
</div>

<!-- googleoff: index -->
<div class="col-box" data-nosnippet>
  <!-- <div class="col-box-title">Newest Posts <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a></div> -->
  <div class="col-box-title">Newest Posts <a class="rss-link" href="/gsearch/">&nbsp;&nbsp;Search&nbsp;&nbsp;</span></a></div>  
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box" data-nosnippet>
  <!-- <div class="col-box-title">Category <span style="color:lightsteelblue;">({{ site.posts | size }})</span> <a class="rss-link" style="color: #AAA; border: 1px solid #CCC; padding: 1px 4px;" href="https://rustlang.kr/feed.xml">RSS Feed</a></div> --> 
  <div class="col-box-title">Category <span style="color:lightsteelblue;">({{ site.posts | size }})</span> <a class="rss-link" href="/feed.xml">RSS Feed</a></div>  
  <ul class="post-list">
    {% for category in site.categories %}
      <li><a class="post-link" href="{{ root_url }}/category/#{{ category | first }}" cate="{{ category | first }}">{{ category | first }}</a> <span style="color:lightsteelblue;">({{ category | last | size }})</span></li>
    {% endfor %}
  </ul>
</div>
<!-- googleon: index -->

{% if page.layout == "post" %}
<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>
{% endif %}

<div class="col-box" style="padding-top:8px;" data-nosnippet>
<center>
  <span style="font-size:12px;color:#6a6a6a;">Ⓒ2018</span>&nbsp;<span style="font-size:12px;color:#6a6a6a;"><a href="#"><b>DevSight.kr</b></a></span>&nbsp;&nbsp;
  <!-- <a style="font-size:12px;color:#6a6a6a;" href="https://devsight.kr/about/">Contact: <b>msjo@devsight.kr</b></a>&nbsp;&nbsp; -->
  <a style="font-size:12px;color:#6a6a6a;" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">ⒸBY-NC-ND</a>
</center>
</div>  
</aside>  
