body {
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}
a {
	text-decoration: none;
	color: #036;
}
a:hover, a:focus {
	text-decoration:underline;
	color: #069;
}
blockquote {
	margin:0;
	padding: 5px 20px;
	border-left: 4px solid #CCC;
}
code,pre {
	font-family:  $code-font-family;
	font-size: $code-font-size;
}
code {
	color: #333333;
}
pre {
	overflow-x: auto;
	padding: 8px 28px;
}
pre, pre code {
	color: #fafafa;
	background-color: #223;
}
pre code {
	padding: 0;	
}

p > code {
    font-size: 14px;
    color: darkgoldenrod;    
}

.hide {
    display: none;
}
.center {
	text-align: center;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    	margin: 10pt auto;
	background: #FFF;

	td, th {
		border: 1px solid #CCC;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border-color: #555;
		background: #555;
		color: #eee;
		font-weight:normal;
		text-align: center;
	}
	
	tr:hover {
		background: rgba(255,255,0,0.2);
	}
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

h5 {
	font-size: 18px !important;
	font-weight: bold !important;
	padding: 0 !important;
	margin : 15px 0px 15px 0px !important;
	color: #333333 !important;	
   	padding-bottom: 1px;
    	border-bottom: 1px solid #D0D7DE;
    	width: 100%;
    	display: block;	
}

h6 {
	font-size: 16px !important;
	font-weight: bold !important;
	padding: 0 !important;
	margin : 15px 0px 15px 0px !important;
	color: #333333 !important;	
}

sup {
    vertical-align: baseline !important;
    font-size: 75% !important;
    line-height: 0 !important;
    position: relative !important;
    top: -0.6em !important;
    color: #900 !important;
}

.MathJax_SVG_Display, .MathJax_Display, .MJXc-display, .MathJax_PHTML_Display {
    overflow: visible;
    font-size: 10px !important;	
}

.MathJax {
    font-size: 10px !important;
}

.footnotes {
    font-size: 14px !important;
    border-top: 1px dashed #D0D7DE !important;
}

.footnotes::before {
    content: 'Reference';
    font-weight: bold;		
}

.footnotes ol {
    margin-top: -15px;
}

.footnotes p {
     line-height: 0px !important;   		
}
