<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
</html>
