<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!--
    {% if page.mermaid %}
    {% include mermaid.html %}
    {% endif %}
    -->
    
    {% if page.mermaid or layout.common_mermaid or content contains 'mermaid' %}
      {% include mermaid.html %}
    {% endif %}    
  </body>
</html>
