<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

{% if site.mermaid.enabled %}
<script type="module">
  import mermaid from '{{ site.mermaid.url }}';
  mermaid.initialize({
    startOnLoad: true,
    theme: '{{ site.mermaid.theme | default: "base" }}'
  });
</script>
{% endif %}
    
  </body>
</html>
