---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
    <p class="post-meta">{{ page.date | date: "%F" }} • MsJ • Devsight</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% comment %}
  {% include comment.html %}
  {% endcomment %}

<!-- 구분선 --> 
  <hr style="border: 0; border-top: 1px solid #ccc; margin: 30px 0;">
  <div class="pagination" style="display: flex; justify-content: center; align-items: center; padding: 0 40px;">  
    {% assign first_post = site.posts.first %}
    {% assign oldest_post = site.posts.last %}
  
    <div style="flex: 1; text-align: left;">
      {% if page.url == first_post.url %}
        <span style="color: #ccc; cursor: default;">FIRST</span>
      {% else %}
        <a href="{{ first_post.url | relative_url }}" style="text-decoration: none; font-weight: normal; color: #666;">FIRST</a>
      {% endif %}
    </div>
  
    <div style="flex: 2; display: flex; justify-content: center; gap: 70px;">
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" style="min-width: 50px; text-align: center; text-decoration: none;">PREV</a>
      {% else %}
        <span style="color: #ccc; min-width: 50px; text-align: center;">PREV</span>
      {% endif %}
  
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" style="min-width: 50px; text-align: center; text-decoration: none;">NEXT</a>
      {% else %}
        <span style="color: #ccc; min-width: 50px; text-align: center;">NEXT</span>
      {% endif %}
    </div>
  
    <div style="flex: 1; text-align: right;">
      {% if page.url == oldest_post.url %}
        <span style="color: #ccc; cursor: default;">LAST</span>
      {% else %}
        <a href="{{ oldest_post.url | relative_url }}" style="text-decoration: none; font-weight: normal; color: #666;">LAST</a>
      {% endif %}
    </div>
  </div>
</div>
